<h1><%= @campaign.name %></h1>
<h2>If organization is signed in, there should be a button on bottom to checkout from Amazon</h2>
<% if session[:organization_id] %>
	<% i = 0 %>
	<% @campaign.pledges.each do |pledge| %>
	<% i = i + 1 %>
		<form id="amazon" method="GET" action="http://www.amazon.com/gp/aws/cart/add.html" target="_blank">
			<input type="hidden" name="AWSAccessKeyId" value="yDCg9VJ51/IB772OfpMg0RgxuwI0T0dnDESDtlcZ" /><br/>
			<input type="hidden" name="AssociateTag" value="Associate Tag" /><br/>
			<input type="hidden" name="ASIN.<%="#{i}"%>" value="<%=pledge.pledged_item.asin%>" /><br/>
			<input type="hidden" name="Quantity.<%="#{i}"%>" value="<%=pledge.quantity%>" /><br/>
	<% end %>
			<h4>Ready to get your requested items?</h4>
			<input type="submit" name="add" value="Checkout from Amazon" />
		</form>
<% end %>

