<h1>Show Campaign</h1>
<h1><%= @campaign.name %></h1>

<div class="container">

      <h2>Items You have Pledged for this Campaign</h2>
      <ul>
        <% @user_campaign_pledges.each do |pledge| %>
      <li>
        <%= pledge.pledged_item.name %>, <%= pledge.quantity %>
      </li>

    <% end %>

  </ul>

</div>

<div class="container">
  <h2>Requested Items</h2>
  <ul>
    <% @requests.each do |request| %>
    <%= form_tag("/organizations/#{@organization.id}/campaigns/#{@campaign.id}/create_pledges", method: 'post') do %>
        <li>
          <img src=" <%= request.requested_item.img_url %>" height="42" width="42">
          <%= request.requested_item.name %>
          <%= request.requested_item.price_dollars %>
          <%= request.quantity %>
          <%= number_field_tag "pledge[quantity]", nil, in: 1...request.quantity %>
          <%= hidden_field_tag "pledge[item_id]", value="#{request.requested_item.id}" %>
          <%= hidden_field_tag "pledge[request_id]", value="#{request.id}" %>
        </li>
        <%= submit_tag "Pledge" %>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="container">

      <h2>Items you have received from this Campaign</h2>
      <ul>
        <% @organization_campaign_pledges.each do |pledge| %>
      <li>
        <%= pledge.pledged_item.name %>, <%= pledge.quantity %>
      </li>

    <% end %>

  </ul>

</div>


