<% if session[:organization_id] %>
<%= link_to "Edit Organization", edit_organization_path(@organization), class: "edit-org" %>
<% end %>

<div class="container">
  <h1 class="dashboard-title">Campaign Dashboard</h1>
  <%= link_to "Create New Campaign", new_organization_campaign_path(@organization) %>
</div>

<div class="container" id="dashboard-container">
  <div class="row">
    <% @organization.campaigns.each do |campaign| %>
    <div class="col-sm-6 col-md-4">
      <div class="campaign-holder">
        <img data-src="holder.js/300x200" alt="...">
        <p><%= campaign.name %></p>

        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
          </div>
        </div>

          <!-- <a href="#" class="btn btn-primary" role="button">Checkout</a> -->
            <%=link_to "Checkout" %>
          <!-- # Edit should go back to campaign new page -->
            <%=link_to "Edit Campaign" ,edit_organization_campaign_path %>
          <!-- # <a href="#" class="btn btn-default" role="button">Edit Items</a> -->
        <p>

              <% i = 0 %>
              <% campaign.pledges.each do |pledge| %>
              <% i = i + 1 %>
                <form id="amazon" method="GET" action="http://www.amazon.com/gp/aws/cart/add.html" target="_blank">
                  <input type="hidden" name="AWSAccessKeyId" value=ENV["secret_access_key"] />
                  <input type="hidden" name="AssociateTag" value="Associate Tag" />
                  <input type="hidden" name="ASIN.<%="#{i}"%>" value="<%=pledge.pledged_item.asin%>" />
                  <input type="hidden" name="Quantity.<%="#{i}"%>" value="<%=pledge.quantity%>" />
            <% end %>

                  <input type="submit" name="add" class="btn btn-danger" value="Checkout w/ Amazon" onclick="open_win()" />
                </form>

          <%# Temporary JS  %>
          <script type="text/javascript">
            function open_win() {
              alert('Open new tab to Amazon?')
            }
          </script>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>
