  <!DOCTYPE html>
<html>
<head>
  <title>SmartSOS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "initialize", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "homepage", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <!-- Alex added this in to display success/failure on form submit -->
    <% if flash %>
      <% flash.each do |key, value| %>
        <div class='alert alert-danger' id='<%= key %>'>
          <%= value %>
        </div>
      <% end %>
    <% end %>

    <div id="home">
      <a href="/"><img src="http://static.tumblr.com/0a55470851a926be979ce9f7c2686166/sxxiy7u/naTmhgyly/tumblr_static_tumblr_m66mv4ty0c1rysqvgo1_1280.png"></a>
    </div>

    <%= yield %>

    <div id="nav">
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <% if donor_logged_in? || organization_logged_in?%>
        <%= link_to "Browse Campaigns", campaigns_path, class: 'btn btn-inverse navbar-btn' %>
        <%= link_to "Start A Campaign", organizations_login_path, class: 'btn btn-inverse navbar-btn' %>
        <%= link_to "Log Out", sessions_logout_path, class: 'btn btn-inverse navbar-btn' %>
      <% else %>
        <%= link_to "Browse Campaigns", campaigns_path, class: 'btn btn-inverse navbar-btn' %>
        <%= link_to "Start A Campaign", organizations_login_path, class: 'btn btn-inverse navbar-btn' %>
     <% end %>
    </nav>
    </div>

 </div>
</body>
</html>
